{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container" style="bgcolor:#000000;">
        <img src="{% static 'blogimg1.png' %}" style="max-width:8%; height:auto;">&nbsp;<a href="/" class="navbar-brand">KIMBORIKONG</a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
                data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a href="{% url 'main:index' %}" class="nav-link"><span>Home</span></a></li>
                <li class="nav-item"><a href="{% url 'main:index' %}" class="nav-link"><span>post</span></a></li>
                <li class="nav-item"><a href="#about-section" class="nav-link"><span>category</span></a></li>
                </ul>
            </ul>
        </div>

    </div>
</nav>



