{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="ftco-section ftco-no-pb goto-here" id="post-section">
		<div class="container">
			<div class="row">
				<div class="col-md-9" >
					<div id="page-1" class="page one">
						{% include "./components/c_nav.html" %}
						<p style="color:red;">{{post.category}}</p>
						<h2 class="heading">{{post.postname}}</h2>
    <p>{{post.user}} | {{post.created_at}}</p>
						<hr/>
    <pre>{{post.contents|linebreaks}}</pre>

    {% if post.mainphoto %}
        <img src="{{post.mainphoto.url}}" alt="이미지2" height="600">
        <br>
    {% endif %}
						<form name="delete" method="POST" action="{% url 'main:delete' pk=post.pk %}">
							{% csrf_token %}
							<input type="password" name="passwd" id="passwd" placeholder="비밀번호">
							<input type="button" value="삭제" class="btn btn-danger" onclick="erchk()">
						</form>

					<br/>
						<a class="btn btn-primary" href="/" role="button">목록</a>

					</div>
				</div>
			</div>
		</div>
	</section>

<script>
function erchk() {
      var res = confirm('게시글을 정말로 삭제하시겠습니까?');
      if(res){
      	document.delete.submit();
      }else{
      	return false
      }
    }
</script>

{% endblock %}
