{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="ftco-section ftco-no-pb goto-here" id="post-section">
		<div class="container">
			<div class="row">
				<div class="col-md-9" >
					<div id="page-1" class="page one">
						{% include "./components/c_nav.html" %}
						<p style="color:red;">{{post.category}}</p>
						<h2 class="heading">{{post.postname}}</h2>
    <p>{{post.user}} | {{post.created_at}}</p>
						<hr/>
    <pre>{{post.contents|linebreaks}}</pre>

    {% if post.mainphoto %}
        <img src="{{post.mainphoto.url}}" alt="이미지2" height="600">
        <br>
    {% endif %}
						<form method="POST",action="{% url 'main:delete' pk=post.pk %}">
							{% csrf_token %}
							<input type="password" id="passwd" placeholder="비밀번호">
							<input type="submit" value="삭제" class="btn btn-danger">
						</form>
						<a href="{% url 'main:delete' pk=post.pk %}" class="btn btn-danger">삭제</a>

					<br/>
						<a class="btn btn-primary" href="/" role="button">목록</a>

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
