{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="ftco-section ftco-no-pb goto-here" id="post-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="page-1" class="page one">
                    {% include "./components/c_nav.html" %}
                    <h2 class="heading">New Post</h2>

                    <hr/>
                    <form method="POST",action="." class="p-5 bg-light">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field.field.widget.name }}
                            {% ifequal field.name 'contents' %}
                            <textarea name="{{field.name}}" id="contents" placeholder="{{filed.label}}" cols="30" rows="10" class="form-control"></textarea>
                            {% else %}
                            <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" placeholder="{{field.label}}" name="{{field.name}}">
                            {% endifequal %}
                        </div>
                        {% if field.errors %}
                        <span style="color:red">{{field.errors}}</span>
                        {% endif %}
                        {% endfor %}
                        <div class="form-group">
                            <input type="submit" value="Post" class="btn py-3 px-4 btn-primary">
                        </div>

                    </form>

                    <a class="btn btn-primary" href="/" role="button">목록</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}